<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
           <h2><span class="label label-default">{{configurationName}}</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 divHeight">
            <textarea class="form-control " [(ngModel)]="configurationDetails"></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 col-sm-12">
           <button class="btn btn-primary" (click)="saveConfigurationDetails()">Save</button>
        </div>
    </div>
</div>