<div class="container">
  <template ngFor let-item [ngForOf]="logList" let-i="index">
    <div class="row well well-sm divComponent">
      <div class="col-md-12 col-sm-12">
        <a [routerLink]="[item]" routerLinkActive="active">
          <h2><span class="label label-default"> {{item}}</span></h2>
        </a>
      </div>
    </div>
  </template>
  <div class="row well well-sm divComponent" *ngIf="NoDataMessage">
    <div class="col-md-12 col-sm-12">
      <h2><span class="label label-default">No data to display</span></h2>
    </div>
  </div>
</div>
