/*#menuComponent.navbar-inverse {
    background-color: #276fad;
    border-color: #66a3d8;
}
#menuComponent .active > a{
	color: white;
	background-color: #276fad;
	
}
#menuComponent .open > a {
	color: white;
	background-color: #276fad;
}*/
.divComponent h2{
          margin-top: 0px;
    }
#Home .bucket{
font:bold;
color: white;
background-color: #337ab7;
}
.divHeight{
    height: 800px;
}

.divHeight textarea{
   height: 100% !important; 
}