<template ngFor let-item [ngForOf]="QueueData" let-i="index">
    <div class="row well well-sm divComponent">
        <div class="col-md-12">
            <h2><span class="label label-default"> {{item.Name}}</span></h2>
            <div>
                <button class="btn btn-primary" (click)="GetQueueDetails(item)">GetMessagesCount</button>
            </div>
            <div *ngIf="CountVisible">
                <h2><span class="label label-default">{{item.Details}}</span></h2> <button  class="btn btn-primary" *ngIf="item.Details>0" (click)="ClearQueueMessages(item)">Clear</button>
            </div>
        </div>
    </div>
</template>