<div class="container" id="Home">
    <div class="row ">
        <div class="col-md-6">
            <div class="row">
                <div class="bucket col-md-11 well well-sm" (click)="CallLink('Queues')">
                   <strong> Queues</strong>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="bucket col-md-11 well well-sm" (click)="CallLink('Events')">
                     <strong>Events</strong>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6">
            <div class="row">
                <div class="bucket col-md-11 well well-sm" (click)="CallLink('Configuration')">
                    <strong>Configuration</strong>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row ">
                <div class="col-md-11">
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </div>
</div>